@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  background-color: #f1f1f1;
  padding: 10px;
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav li {
  margin-right: 10px;
}

.nav-item {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 4px;
}

.nav-item:hover {
  background-color: #ddd;
}

.box-one {
    background-color: #ffffff;
    border: 2px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 4px rgba(8, 8, 8, 0.1);
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  .text-container {
    padding: 20px
  }

  .upload {
    background-color: #ffffff;
    border: 2px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 4px rgba(8, 8, 8, 0.1);
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  .header-names {
      padding: 20px
  }
  
  .scatter-chart {
    margin-top: 20px;
  }
  
  .graph-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .graph-label-x {
    margin-top: 20px;
  }
  
  .graph-label-y {
    
    transform: rotate(-90deg);
    margin-right: 20px;
  }